<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211339829221-mfhee0p31n7sr04ufktnmd0q66t68qcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211339829221-mfhee0p31n7sr04ufktnmd0q66t68qcq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211339829221-0jnq5rq80i74cp4rcgm6euk2i33oagv0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVR1Y7SDeDn1rHrgq5vHPruSQFwZ4RiCo</string>
	<key>GCM_SENDER_ID</key>
	<string>211339829221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvrtime.codexus</string>
	<key>PROJECT_ID</key>
	<string>dvr-timer</string>
	<key>STORAGE_BUCKET</key>
	<string>dvr-timer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211339829221:ios:ca3b3735581914090c590c</string>
</dict>
</plist>